html, body {
    background: #f5f5f5;
}

h1 {
    font-weight: 100;
    font-size: 5rem;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 2rem;
}

ul, li {
    list-style: none;
    margin: 0;
}

input {
    outline: none;
    border: 0;
}

.todoist {
    min-width: 250px;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    color: #4d4d4d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoist input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoist input::-moz-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoist input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoist .new-todo {
    width: 100%;
    font-size: 2rem;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    padding: 16px 16px 16px 60px;
    box-sizing: border-box;
    color: inherit;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03)
}

.todo-list {
    display: block;
    border-top: 1px solid #ededed;
    font-size: 24px;
}

.todo-list li {
    position: relative;
    border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list li span {
    display: block;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
}

.todo-list li .check {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    -webkit-appearance: none;
}

.todo-list li .check:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .check:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-list li .check:checked+span {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-list li .close {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    font-size: 2rem;
    color: #cc9a9a;
    background: none;
    outline: none;
    padding: 0;
    border: 0;
}

.todo-list li .close:after {
    content: 'x'
}

.footer {
    color: #777;
    padding: 10px 15px;
    border-top: 1px solid #ededed;
    position: relative;
}


.todoist .footer .filters {
    text-align: center;
}

.footer .count {
    float: left;

}

.footer:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
}


.todoist .footer .filters li {
   display: inline;
}

.todoist .footer .filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px; 
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.todoist .footer .filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}
